<nav id=navigation class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a id=class="navbar-brand text-decoration-none" href="{{site.data.navigation[0].link | relative_url }}">
      <img src="{{ '/assets/img/EHS.svg' | relative_url }}" alt="" width="50" height="44">
    </a>
    <button id=hamburger_menu class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul id=navigation_links class="navbar-nav">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a {% if page.url == item.link %} class="nav-link active" aria-current="page" href="#" {% else %} class="nav-link" href="{{ item.link | relative_url }}" {% endif %}> {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
