<html lang="en">
{% include head.html %}

<body class="container-fluid bg-dark text-light">
  {% include navigation.html %}
  <main>
    <section class="text-center container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="display fw-light">{{page.title | capitalize}}</h1>
          <p class="lead text-muted">A compendium of coding and self-learning I have done</p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-dark">
      <div class="container">
        {% assign num_rows = 3 %}
        <h2 class="display p-3"> Code </h2>
        <div class="row mh-50">
          {% assign code_links = site.data.portfolio | where: "category", "code" %}
          {% assign code_links_rows = code_links.size | modulo: num_rows %}
          {% for item in code_links %}
          <div class="col-sm">
            <div class="card bg-light text-dark shadow-sm">
              <div class="container w-50 h-75 p-3">
                <img class="card-img-top img-fluid" src="{{ item.logo_img }}">
              </div>
              <div class="card-body h-25">
                <h5 class="card-title">{{ item.name }}</h1>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <h2 class="display p-3"> Learning </h2>
        <div class="row mh-50">
          {% assign code_links = site.data.portfolio | where: "category", "learning" %}
          {% assign code_links_rows = code_links.size | modulo: num_rows %}
          {% for item in code_links %}
          <div class="col-sm">
            <div class="card bg-light text-dark shadow-sm">
              <div class="container w-50 h-75 p-3">
                <img class="card-img-top img-fluid" src="{{ item.logo_img }}">
              </div>
              <div class="card-body h-25">
                <h5 class="card-title">{{ item.name }}</h1>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>

  {% include footer.html %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
